@media screen and (max-width: 414px) {
  
  .header-nav {
    width: 60vw;
  }

  .header-nav.open {
    left: -60vw;
  }

  .header-logo {
    width: 70%;
    padding-top: 10px;
  }

  .fv-image {
    width: 100vw;
    height: 65vh;
  }

  .text-box {
    left: 10%;
  }

  .text-box h1 {
    font-size: 2.4rem;
  }

  .item-box {
    flex-basis: 45%;
  }

  .contact-content {
    display: block;
  }

  .contact-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
  }

}


