@media screen and (max-width: 670px) {

  html {
    font-size: 50%;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .snsButtons li {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.29);
  }
  
  .snsButtons li:active {
    box-shadow: inset 0 0 1px rgba(128, 128, 128, 0.1);
    transform: translateY(1px);
  }
  
  .snsButtons i {
    font-size: 5pt;
    min-width: 15px;
    margin: 0px;
    padding: 0px 2px 0px 5px;
    vertical-align: middle;
  }
  
  .snsButtons_label {
    min-width: 30px;
    display: inline-block;
    padding: 0px 5px 0px 0px;
    text-align: center;
    font-size: 5pt;
  }
    
  .header {
    height: auto;
  }
  
  .header-top {
    padding: 0;
  }
  
  .header-left-left {
    width: 300px;
    padding: 0.5rem;
  }

  .header-left-left p {
    display: block;
    font-size: 1.2rem;
  }

  .header-left-left img {
    width: 35%;
  }

  .header-left-text {
    display: none;
  }

  .header-right a {
    display: none;
  }

  .header-right-sp {
    display: block;
    text-align: center;
  }

  .header-right-sp a {
    display: inline-block;
    color: #ffffff;
    background-color: rgb(218,107,100);
    padding: 1rem;
    font-size: 12px;
  }

  .header-right-sp .fa-file-invoice {
    font-size: 30px;
  }

  .header-right-sp a:hover {
    background-color: rgb(245, 102, 91);
  }

  .title-wrapper {
    background-image: url(img/mainsp.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 60px;
    text-align: center;
    padding: 2rem 0 1.5rem 0;
  }

  .title-wrapper h1 {
    padding: 0.3rem 0;
  }

  .title-wrapper img {
    width: 60%;
    padding: 2.5rem 0;
  }

  .title-wrapper h2 {
    padding-top: 0.5rem;
  }

  .title-wrapper p {
    font-weight: bold;
  }

  .info-request-wrapper {
    padding: 1rem 0;
  }

  .request-text-1 p {
    padding: 1rem 0;
  }

  .request-text-2 p {
    margin: 1rem;
  }

  .request-text-3 a {
    border-radius: 50px;
    padding: 2rem 5rem;
    margin: 1.5rem 0;
  }

  .request-text-4 p {
    padding: 1rem 0;
  }

  .br-sp {
    display: block;
  }

  .introduction-wrapper {
    padding-bottom: 5rem;
  }
  
  .introduction-title, .about-title, .merit-title {
    position: relative;
    width: 80%;
    padding: 1rem 2rem;
    margin: 1rem auto;
  }
  
  .introduction-text {
    width: 70%;
    margin: 0 auto;
  }

  .introduction-text p {
    padding: 1rem 0;
  }

  .about-wrapper {
    padding-bottom: 3rem;
  }
  
  .about-skills {
    padding: 1rem;
    margin: 1rem;
  }
  
  .about-skills-contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .box {
    margin: 0.5rem;
    width: 28%;
  }
  
  .box p {
    padding-top: 0.5rem;
  }
  
  .about-second-wrapper {
    background-image: url(img/aboutsecondbgsp.jpg);
    padding-top: 3rem;
  }
  
  .about-second-title {
    padding: 1rem 0;
  }
    
  .about-second-step {
    display: block;
    padding-bottom: 2rem;
  }
  
  .step-box {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 2rem 1rem 2rem;
  }

  .merit-contents {
    display: block;
  }

  .merit-box {
    width: 90%;
    margin: 1rem auto;
  }

  .start-up-contents {
    display: block;
  }
  
  .start-up-outer-box {
    width: 90%;
    margin: 0.5rem auto;
  }

  .start-up-outer-box img {
    width: 30%;
  }
  
  .start-up-inner-box {
    border: 3px solid #ffffff;
    border-radius: 3px;
    padding: 6rem 2.5rem 4rem 2.5rem;
    height: 250px;
  }

  .possible-container, .study-container, .founder-message-container, .contact-form-container {
    width: 100%;
    margin: 0 auto;
  }

  .study-contents {
    display: block;
  }
  
  .study-contents-left, .study-contents-right {
    width: 80%;
    margin: 1rem auto;
  }

  .flow-image img {
    display: none;
  }

  .flow-box {
    display: none;
  }

  .flow-box-between {
    display: none;
  }

  .flow-accordion {
    display: block;
  }

  /* ↓↓ 受講の流れ SP版 アコーディオン部分 ↓↓ */
  .flow-accordion-container {
    position: relative;
    width: 100%;
    background-color: #FEF5E0;
    border: 1px solid #e5e5e5;
    border-top: none;
    outline: 0;
    cursor: pointer;
    text-align: left;
  }

  .flow-accordion-container .flow-accordion-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 1.25em;
    font-weight: normal;
    cursor: pointer;
  }

  .flow-accordion-container .flow-accordion-title:hover,
  .flow-accordion-container .flow-accordion-title:active,
  .flow-accordion-container .content-entry.open .flow-accordion-title {
    text-decoration: underline;
  }

  .flow-accordion-container .flow-accordion-title:hover i:before,
  .flow-accordion-container .flow-accordion-title:hover i:active,
  .flow-accordion-container .content-entry.open i {
    color: #000000;
  }

  .flow-accordion-title{
    position: relative;
  }

  .flow-accordion-title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 3px #333333;
    border-right: solid 3px #333333;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .flow-accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }

  .flow-accordion-title-image img {
    width: 8%;
  }

  .flow-accordion-content {
    display: none;
    padding: 0.625em 0.625em 0.625em 2.3125em;
  }

  /* ↑↑ 受講の流れ SP版 アコーディオン部分 ↑↑ */

  .bangkok-wrapper {
    background-image: url(img/bangkokbgsp.jpg);
    padding: 5rem 0 8rem 3rem;
  }

  .bangkok-title h1 {
    text-align: center;
  }

  .benefits-contents {
    display: none;
  }

  .benefits-contents-sp {
    display: block;
    border: 2px solid #ffffff;
    padding: 5rem;
    position: relative;
    bottom: 20px;
    margin: 0 1rem;
  }

  .benefits-sp-box {
    display: flex;
    margin-bottom: 2rem;
  }

  .benefits-sp-box-left {
    background-color: #ffffff;
    width: 20%;
    border-radius: 50%;
    margin: auto auto;
    text-align: center;
  }

  .benefits-sp-box-left h2 {
    font-size: 1.8rem;
    color: #F7C23C;
    padding: 3rem 0;
  }

  .benefits-sp-box-right {
    width: 80%;
    margin-left: 1rem;
    color: #ffffff;
    padding: 2rem 0rem;
    text-align: left;
  }




  .founder-message-box {
    display: block;
  }
  
  .founder-message-box-left {
    width: 100%;
    padding: 2rem;
  }
  
  .founder-message-box-right {
    width: 100%;
    text-align: left;
    padding: 2rem;
  }

  input {
    width: 95%;
    margin: 1rem auto;
  }
  
  textarea {
    width: 95%;
    margin: 1rem auto;
  }
  

}

