/*     ↓ 共通部分 ↓     */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-size: 1.5rem;
  font-family: 'Noto Sans TC', 'Meiryo', 'Yu Gothic', sans-serif;
  color: #121212;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #121212;
}
a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

li {
  list-style: none;
}

.section-title {
  font-size: 3.2rem;
  letter-spacing: 0.068em;
  font-weight: bold;
  padding: 60px 0 40px 0;
  text-align: center;
}

.white {
  color: #fff;
}

.parallax-bg {
  background-image: url('img/bg_s.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 
/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #fff;
}

/*     ↑ 共通部分 ↑     */

/*     ↓ ハンバーガーメニュー ↓     */

.burger-btn{
  align-items: center;
  position: fixed;
  top: 20px;
  right: 4vw;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  z-index: 3;
  background-color: transparent;
  border: none;
}

.burger-btn:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.bar{
  width: 30px;
  height: 3px;
  display: block;
  border-radius: 1px;
  background-color: #121212;
}

.bar.white {
  background-color: #fff;
}

.bar_top{
  transform: translateY(-6px);
  transition: transform .3s;
}

.bar_bottom{
  transform: translateY(6px);
  transition: transform .3s;
}

.bar.cross.bar_top{
  transform: translateY(4px) rotate(45deg);
  transition: transform .3s;
}

.bar.cross.bar_mid{
  opacity: 0;
  transition: opacity .3s;
}

.bar.cross.bar_bottom{
  transform: translateY(-4px) rotate(-45deg);
  transition: transform .3s;
}

.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

/*     ↑ ハンバーガーメニュー ここまで ↑     */


.header-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  text-align: center;
  padding: 120px 0 0 0;
  background-color: rgba(34, 34, 34, .95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s, opacity .3s;
}

.header-nav.open {
  top: 0;
  left: -30vw;
  opacity: 1;
  transition: transform .3s, opacity .3s;
}

.nav-item {
  margin-bottom: 40px;
}

.nav-item-other {
  font-weight: lighter;
  margin-top: 25px;
}

.header-nav a {
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  padding: 10px 30px;
  z-index: 3;
}

.fv-image {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  width: 80vw;
  height: 90vh;
  z-index: -1;
}

.front-view {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -40%)
}

.text-box {
  position: absolute;
  top: 40%;
  left: 25%;
}

.text-box h1 {
  color: #eee;
  font-size: 4.6rem;
  letter-spacing: 0.3em;
  line-height: 1.5;
  text-shadow: 1px 1px 0 #111, -1px 1px 0 #111, 1px -1px 0 #111, -1px -1px 0 #111;
}

.pick-up {
  padding-bottom: 20px;
}

.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

/*====================================================================
.full-screen
====================================================================*/

.full-screen .slick-list {
  overflow: visible;
}
.full-screen.slider {
  max-width: 300px;
  margin: 0 auto;
}

.feature {
  padding: 5vh 4vw;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-box {
  margin: 0 5px 20px 0;
  flex-basis: 24%;
  box-shadow: 3px 3px 5px #525252;
  background-color: #fff;
}

.img-box {
  position: relative;
  overflow: hidden;
  padding-top: 60%;
}

.img-box img {
  position: absolute;
  top: 5%;
  left: 5%;
  transform: traslate(-50%, -50%);
  width: 90%;
  height: 90%;
}

.item-box-text {
  padding: 5px 10px;
}

.item-box-text h2 {
  font-size: 2rem;
  padding: 5px 0 10px 0;
}

.item-box-text p {
  padding: 15px 0;
}

.item-box-text .time {
  text-align: right;
  padding-bottom: 20px;
}

.contact {
  background-color: #121212;
  padding: 5vh 4vw;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-text {
  width: 47%;
}

.contact-text p {
  font-size: 1.6rem;
  letter-spacing: 0.3em;
  padding: 15px 0;
}

.contact-form {
  width: 47%;
}

.contact-form p {
  font-size: 1.6rem;
  padding-bottom: 5px;
  letter-spacing: 0.3rem;
}

input, textarea {
  width: 90%;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 20px;
  padding-left: 5px;
}

.mailform-submit {
  -webkit-appearance: none;
  width: 30%;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
}

footer {
  text-align: center;
  background-color: #121212;
  color: #fff;
  padding: 10px 0;
}

